
.parent{
  height: 100%;
  position: relative;

}
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.box
{
 width: 1260px;
  
  color: #ffff;
  border-radius: 4px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16),0px 3px 6px rgba(0,0,0,0.23);


}
.moving-gradient{
  background:linear-gradient(120deg,#8125e2,#45fce4);
  background-size: 100% 100%;
  animation: moveGradient 3s ease infinite;


}
@keyframes moveGradient{
  0%{background-position: 0 50%;}
  50%{background-position: 100% 50%;}
    0%{background-position: 0 50%;}
}
.quote-box
{
  text-align: center;
}
.quote
{

  font-size: 2rem;
  color: #faaaaf; 
}
body{
  background-image: url("abstract.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
